main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	color: rgba(0, 0, 0, .5);
}

.task-details-delivery {
	width: 100%;
}

table {
	border-spacing: 0;
}
table caption,
table thead  th {
	color: rgba(0, 0, 0, .7);
}
table caption {
	font-size: 21px;
	font-weight: 500;
	margin-bottom: 2%;
}
table thead th {
	text-align: left;
	font-weight: 400;
	font-size: 18px;
	padding: 0px;
}
table thead th:not(:last-child) {
	padding-right: 10px;
}
table tbody tr td {
	vertical-align: baseline;
	padding: 20px 0;
}
table tbody tr:nth-child(odd) {
	background: rgba(185, 54, 218, .05);
}

.route ul li {
	list-style-type: none;
	position: relative;
	margin-bottom: 15px;
}
.route ul li::before {
	position: absolute;
	left: -15px;
	top: -12px;
	color: rgb(185, 54, 218);
	content: "\2022";
	font-size: 26px;
	padding: 5px 10px 0 0;
}

.info > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding-bottom: 10px;
}
.tc ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media (min-width: 800px) and (max-width: 1150px) {
	.body-content {
		width: 90%;
	}
}

@media (max-width: 800px) {
	.body-content {
		width: 92%;
	}

	main {
		grid-template-columns: 1fr;
	}

	.task-details-delivery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 15px;
	}

	.auction-history {
		display: grid;
		justify-items: center;
	}

	table tbody tr td {
		padding: 10px 0;
	}
}

@media (max-width: 600px) {
	.task-details-delivery {
		grid-template-columns: 1fr;
	}

	.bidding {
		text-align: center;
	}
}

@media (max-width: 300px) {
	.body-content {
		width: 100%;
	}
}