input,
select {
	outline: none;
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.5);
	width: 200px;
	border: 1px solid #a09aa1;
	border-radius: 5px;
}

input {
	height: 26px;
}

.calendar {
	width: 100px;
}

select  {
	height: 30px;
}

button {
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: rgb(182, 119, 241);
	color: white;
	font-size: 16px;
}

.menu span {
	cursor: pointer;
	text-align: center;
	padding: 15px;
	color: rgb(185, 54, 218);
}

.claim {
	padding-bottom: 2%;
}

.deliveryDate-title {
	width: 100%;
	text-align: center;
}

.number-claim {
	max-width: 90px;
}

.block {
	display: block;
}

.date-of-delivery {
	display: grid;
	justify-content: center;
	justify-items: end;
	width: 100%;
	margin: 25px 0;
	grid-template-columns: 102px 315px 140px 241px;
	grid-gap: 5px;
}

.date-of-delivery .volume {
	margin: -4px 0 0 5px;
}

.volume input,
.weight input {
	width: 45px;
}

.deliveryDatePlanFrom input,
.deliveryDatePlanTo input,
.number input,
.WV-TC input {
	margin-top: 4px;
}

.date-of-delivery .deliveryDatePlanTo label {
	margin: 0 5px 0 0;
}

.date-of-delivery .deliveryDates {
	width: 100%;
	text-align: center;
}

.date-of-delivery .WV-TC {
	display: flex;
	justify-content: center;
	width: 140px;
}

.inline-block {
	display: inline-block;
}

.route-point {
	display: grid;
	grid-gap: 15px;
	width: 100%;
	margin: 2% 0 2% 0;
	flex-wrap: wrap;
}

.button-route {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.button-route:last-child {
	justify-content: flex-end;
}

.route-add {
	margin: 1.5% 0;
	text-align: center;
	font-size: 25px;
	color: rgb(182, 119, 241);
}

.route-point div div{
	margin-top: 5px;
}

.body-type .select-selected {
	margin-top: 4px;
}

@media(min-width: 1100px) {
	.route-point {
		grid-template-columns: 30px 240px 240px 240px 50px 30px;
		justify-content: center;
	}
}

@media(min-width: 1050px) {
	.bidding ul {
		width: 100%;
		display: grid;
		grid-template-columns: 93px 82px 120px 141px;
		grid-gap: 10px;
		justify-items: center;
		justify-content: center;
		list-style-type: none;
		padding: 0;
		margin: 10px 0;
	}

	.bidding ul li {
		display: grid;
		grid-template-columns: 30px 1fr;
	}
}

@media(max-width: 1100px) {
	.body-content {
		width: 87%;
	}

	.date-of-delivery {
		justify-items: center;
	}

	.route-point {
		grid-template-columns: 1fr 1fr 1fr 1fr 50px 1fr;
		display: grid;
		justify-content: center;
		justify-items: center;
		margin: 2% 0 2% 0;
	}

	.route-point div div{
		margin-top: 0;
	}

}

@media(max-width:1500px) {
	.body-content {
		width: 92%;
	}
}

@media (max-width: 1100px) {
	.route-point {
		grid-gap: 10px;
	}

	.date-of-delivery {
		grid-template-columns: 1fr 315px 1fr 1fr;
		padding-left: 0;
		justify-items: baseline;
	} 
}
@media (max-width: 1050px) {	
	.route-point {
		grid-template-columns: 1fr;
		margin: 25px 0;
	}

	.route-point > div {
		display: grid;
		grid-template-columns: 78px 1fr;
		width: 100%;
		align-items: center;
	}

	.route-point .custom-select {
		width: 100%;
	}

	.button-route:first-child,
	.button-route:last-child {
		display: none;
	}

	.date-of-delivery {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	.date-of-delivery .WV-TC {
		width: auto;
		justify-content: end;
	}

	.date-of-delivery .deliveryDates {
		width: auto;
	}

	.deliveryDate-title {
		text-align: left;
	}

	.date-of-delivery .deliveryDatePlanTo label {
		margin-left: 5px;
	}

	.number label.block {
		display: inline-block;
		margin-right: 5px;
	}

	.body-type {
		display: grid;
		grid-template-columns: 61px 1fr;
		align-items: center;
	}

	.WV-TC .weight,
	.WV-TC .volume {
		display: grid;
		align-items: center;
	}

	.WV-TC .volume {
		grid-template-columns: 85px 0.5fr;
	}

	.WV-TC .weight {
		grid-template-columns: 60px 0.5fr;
	}

	.WV-TC .weight label,
	.WV-TC .volume label {
		margin-right: 5px;
	}

	.WV-TC .volume label {
		margin-left: 4px;
	}


	.deliveryDates .deliveryDatePlanFrom label {
		margin-right: 5px;
	}

	.bidding ul  {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
		padding-left: 0;
	}

	.bidding ul li {
		display: grid;
		grid-template-columns: 30px 1fr;
		 
	}

	.building {
		position: relative;
	}

	.building label::before {
		content: url(../images/button-route-remove.png);
	}
	
	.building label::after {
		content: url(../images/button-route-add.png);
	}

	.building label::before {
		right: 40px;
	}
	
	.building label::after {
		right: 0px;
	}

	.building label::before,
	.building label::after {
		position: absolute;
		top: 0;
	}
	
	.body-type .select-selected {
		margin-top: 0px;
	}
	
	.volume input {
		margin-top: 9px;
	}

	.create-claim button {
		width: 100%;
	}
}

@media (max-width:700px) {
	.form-settings > div {
		width: 80%;
	}

	.route-add {
		margin: 15px 0;
	}
}

.button-route button,
.route-add button {
	width: 30px;
	height: 30px;
}


.route-point .building input {
	max-width: 40px;
}

.bidding {
	margin: 0 0 3% 0;
	width: 100%;
}

.bidding-title {
	width: 100%;
	text-align: center;
	margin: 25px 0 10px 0;
	font-size: 20px;
	color: rgb(182, 119, 241);
}

@media (max-width: 800px) {
	.bidding ul {
		justify-content: center;
		justify-items: left;
	}
}

@media (min-width: 900px) and (max-width: 1050px) {
	.date-of-delivery {
		grid-template-columns: 1fr 115px 1fr 1fr;
		align-items: end;
	}
}

@media (min-width: 700px) and (max-width: 1050px) {
	.route-point-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		grid-gap: 15px;
	}

	.route-point > div {
		display: block;
	}

	.WV-TC .weight, .WV-TC .volume {
		display: inherit;
	}

	.deliveryDates label {
		text-align: center;
	}
	
	.building label::after,
	.building label::before {
		top: 18px;
	}	

	.bidding ul {
		grid-template-columns: repeat(4,1fr);
	}
	.create-claim button {
		width: 50%;
	} 
}

.bidding ul li {
	align-items: center;
} 

.bidding ul li  input[type=radio] {
	padding-left: 0;
	-webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2.2px solid lightgray;
    border-radius: 50%;
    outline: none;
}

.bidding ul li input[type='radio']:before {
	padding-left: 0;
    content: '';
    display: block;
    width: 10px;
    height: 10.2px;
    margin: 2.5px auto;    
    border-radius:50%;    
}

.bidding ul li input[type='radio']:checked:before {
	background:#ca90d8;
}

.bidding ul li input[type='radio']:checked {
	border: 2.2px solid #ca90d8;
}


/* Кнопка Создать */
.create-claim {
	width: 100%;
	text-align: center;
}

.create-claim button {
	padding: 10px 40px;
}
/* Кнопка Создать */

/* Custom select */
.custom-select {
	font-size: 14px;
	position: relative;
	font-family: Arial;
	width: 239px;
	height: 30px;
}

.custom-select select {
	display: none; 
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 12px;
	right: 12px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: rgba(0, 0, 0, 0.5) 
					transparent 
					transparent 
					transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent 
				  transparent 
				  rgba(0, 0, 0, 0.5) 
				  transparent;
	top: 7px;
}

.select-items div,.select-selected {
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	user-select: none;
	padding: 5px;
}


.select-selected {
	border: 1px solid #a09aa1;
	padding: 5px;
	height: 18px;
	border-radius: 5px;
}

.select-items {
	position: absolute;
	background-color: #ffffff;
	border-right: 1px solid rgba(0, 0, 0, 0.15); 
	border-left: 1px solid rgba(0, 0, 0, 0.15); 
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow:  -1px 19px 17px -11px rgba(0, 0, 0, .5);
}

.select-items div:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	
	border-radius: 0 0 5px 5px;
}

.select-hide {
	display: none;
}

.select-items div:hover {
	background-color: rgb(182, 119, 241);
	color: white;
}
/* Custom select */