.base-input,
.base-select {
	width: 200px;
}

.base-input {
	height: 26px;
}

.calendar {
	width: 100px;
}

.base-select {
	height: 30px;
}

.claim {
	padding-bottom: 2%;
}

.deliveryDate-title {
	width: 100%;
	text-align: center;
}

.number-claim {
	max-width: 90px;
}

.block {
	display: block;
}

.date-of-delivery {
	display: grid;
	justify-content: center;
	justify-items: end;
	width: 100%;
	margin: 25px 0;
	grid-template-columns: 102px 315px 140px 241px;
	grid-gap: 5px;
}

.date-of-delivery .volume {
	margin: -4px 0 0 5px;
}

.volume input,
.weight input {
	width: 45px;
}

.deliveryDatePlanFrom input,
.deliveryDatePlanTo input,
.number input,
.WV-TC input {
	margin-top: 4px;
}

.date-of-delivery .deliveryDatePlanTo label {
	margin: 0 5px 0 0;
}

.date-of-delivery .deliveryDates {
	width: 100%;
	text-align: center;
}

.date-of-delivery .WV-TC {
	display: flex;
	justify-content: center;
	width: 140px;
}

.inline-block {
	display: inline-block;
}

.route-point {
	display: grid;
	grid-gap: 15px;
	width: 100%;
	margin: 2% 0 2% 0;
	flex-wrap: wrap;
}

.button-route {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.button-route:last-child {
	justify-content: flex-end;
}

.route-add {
	margin: 1.5% 0;
	text-align: center;
	font-size: 25px;
	color: rgb(182, 119, 241);
}

.route-point div div{
	margin-top: 5px;
}

.body-type .select-selected {
	margin-top: 4px;
}

@media(min-width: 1050px) {
	.bidding ul {
		width: 100%;
		display: grid;
		grid-template-columns: 93px 82px 120px 141px;
		grid-gap: 10px;
		justify-items: center;
		justify-content: center;
		list-style-type: none;
		padding: 0;
		margin: 10px 0;
	}

	.bidding ul li {
		display: grid;
		grid-template-columns: 30px 1fr;
	}
}

@media(max-width: 1100px) {
	.body-content {
		width: 87%;
	}

	.date-of-delivery {
		justify-items: center;
	}

	.route-point div div{
		margin-top: 0;
	}

}

@media(max-width:1200px) {
	.body-content {
		width: 92%;
	}
}

@media (max-width: 1100px) {
	.route-point {
		grid-gap: 10px;
	}

	.date-of-delivery {
		grid-template-columns: 1fr 315px 1fr 1fr;
		padding-left: 0;
		justify-items: baseline;
	} 
}
@media (max-width: 1050px) {	
	.route-point .custom-select {
		width: 100%;
	}

	.date-of-delivery {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	.date-of-delivery .WV-TC {
		width: auto;
		justify-content: end;
	}

	.date-of-delivery .deliveryDates {
		width: auto;
	}

	.deliveryDate-title {
		text-align: left;
	}

	.date-of-delivery .deliveryDatePlanTo label {
		margin-left: 5px;
	}

	.number label.block {
		display: inline-block;
		margin-right: 5px;
	}

	.body-type {
		display: grid;
		grid-template-columns: 61px 1fr;
		align-items: center;
	}

	.WV-TC .weight,
	.WV-TC .volume {
		display: grid;
		align-items: center;
	}

	.WV-TC .volume {
		grid-template-columns: 85px 0.5fr;
	}

	.WV-TC .weight {
		grid-template-columns: 60px 0.5fr;
	}

	.WV-TC .weight label,
	.WV-TC .volume label {
		margin-right: 5px;
	}

	.WV-TC .volume label {
		margin-left: 4px;
	}

	.deliveryDates .deliveryDatePlanFrom label {
		margin-right: 5px;
	}

	.bidding ul  {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
		padding-left: 0;
	}

	.bidding ul li {
		display: grid;
		grid-template-columns: 30px 1fr;
		 
	}
	
	.body-type .select-selected {
		margin-top: 0px;
	}
	
	.volume input {
		margin-top: 9px;
	}

	.create-claim button {
		width: 100%;
	}
}

@media (max-width:700px) {
	.route-add {
		margin: 15px 0;
	}
}

.button-route button,
.route-add button {
	width: 30px;
	height: 30px;
}

.bidding {
	margin: 0 0 3% 0;
	width: 100%;
}

.bidding-title {
	width: 100%;
	text-align: center;
	margin: 25px 0 10px 0;
	font-size: 20px;
	color: rgb(182, 119, 241);
}

@media (max-width: 800px) {
	.bidding ul {
		justify-content: center;
		justify-items: left;
	}
}

@media (min-width: 900px) and (max-width: 1050px) {
	.date-of-delivery {
		grid-template-columns: 1fr 115px 1fr 1fr;
		align-items: end;
	}
}

@media (min-width: 700px) and (max-width: 1050px) {
	.route-point > div {
		display: block;
	}

	.WV-TC .weight, .WV-TC .volume {
		display: inherit;
	}

	.deliveryDates label {
		text-align: center;
	}
	
	.bidding\ ul {
		grid-template-columns: repeat(4,1fr);
	}
	.create-claim button {
		width: 50%;
	} 
}

.bidding ul li {
	align-items: center;
}

.bidding ul li input[type=radio] {
	padding-left: 0;
	-webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2.2px solid lightgray;
    border-radius: 50%;
    outline: none;
}

.bidding ul li input[type='radio']:before {
	padding-left: 0;
    content: '';
    display: block;
    width: 10px;
    height: 10.2px;
    margin: 2.5px auto;    
    border-radius:50%;    
}

.bidding ul li input[type='radio']:checked:before {
	background:#ca90d8;
}

.bidding ul li input[type='radio']:checked {
	border: 2.2px solid #ca90d8;
}


/* Кнопка Создать */
.create-claim {
	width: 100%;
	text-align: center;
}

.create-claim button {
	padding: 10px 40px;
}

.custom-select {
	width: 239px;
}

.route-point {
	grid-template-columns: 30px minmax(150px, 600px) 30px;
	justify-content: center;
}

.addr {
	width: 97%;
}