body {
	background: linear-gradient(-120deg,#d79ce6,#eeecee);
	padding: 0;
	margin: 0;
}

input,
select {
	outline: none;
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.5);
	width: 200px;
	border: 1px solid #a09aa1;
	border-radius: 5px;
}

input {
	height: 26px;
}

.calendar {
	width: 120px;
}

select  {
	height: 30px;
}

button {
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: rgb(182, 119, 241);
	color: white;
	font-size: 16px;
}

.body-content {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background: white;
	font-family: 'Roboto', sans-serif;
	width: 60%;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Параметры тени */
}

.logged-in-user {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 10px 0 1%;
	margin: 0 0 40px 0;
}

.logged-in-user .logo {
	flex-grow: 1;
	text-align: left;
}

.logged-in-user .user-photo {
	border-radius: 30px;
}

.logged-in-user span:nth-child(n+2) {
	margin: 30px 0 0 0;
}

.logged-in-user span:nth-child(3) {
	padding: 10px 5px 0 5px;
}

.logged-in-user span:nth-child(4) {
	margin-top: 37px;
}

.logistian-menu {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.logged-in-user img {
	cursor: pointer;
}

.user-data img {
	padding: 10px 0 0 0;
}

.user-name {
	color: rgb(185, 54, 218);
}

.logistian-menu span {
	cursor: pointer;
	text-align: center;
	padding: 15px;
	color: rgb(185, 54, 218);
}

.logistian-menu .active {
	background: rgb(182, 119, 241);
	color: white;
}


h1,h2 {
	font-weight: 500;
}

h2 {
	text-align: center;
	color: rgb(182, 119, 241);
	font-weight: bold;
}

.table-title {
	width: 100%;
	margin-bottom: 1%;
}

.claim {
	padding-bottom: 2%;
}

.claim-header {
	margin-left: 20px;
}

.deliveryDate-title {
	width: 100%;
	text-align: center;
}

.number-claim {
	max-width: 90px;
}

.block {
	display: block;
}

.date-of-delivery {
	display: grid;
	/* align-content: center; */
	justify-content: center;
	justify-items: end;
	position: relative;
	width: 100%;
	margin: 25px 0 15px 0;
	grid-template-columns: 0.72fr 350px 200px 216px;
	/* flex-wrap: wrap; */
	grid-gap: 10px;
}

.date-of-delivery .volume {
	margin: -4px 0 0 1%;
}

.volume input,
.weight input {
	width: 45px;
}

.deliveryDatePlanFrom input,
.deliveryDatePlanTo input,
.number input,
.WV-TC input {
	margin-top: 4px;
}



.date-of-delivery .deliveryDates label,
.date-of-delivery .WV-TC label {
	margin: 0 5px 0 5px;
}

.date-of-delivery .deliveryDates {
	margin-right: 4%;
}

.date-of-delivery .WV-TC {
	display: flex;
	justify-content: center;
	width: 100%;
}

.inline-block {
	display: inline-block;
}

.route-point {
	display: grid;
	grid-gap: 5px;
	width: 107%;
	margin: 2% 0 2% -41px;
	flex-wrap: wrap;
}

.button-route {
	display: flex;
	align-items: flex-end;
}

.button-route:first-child {
	justify-content: flex-end;
}

.button-route:last-child {
	justify-content: flex-start;
}


.route-add {
	margin: 1.5% 0;
	text-align: center;
	font-size: 25px;
	color: rgb(182, 119, 241);
}


@media(min-width:1300px) {
	.route-point {
		grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr 1fr;
	}

	.date-of-delivery .WV-TC  div{
		padding: 0 5px;
	}
}

@media(max-width:1300px) {
	.date-of-delivery {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.date-of-delivery .WV-TC {
		display: flex;
		justify-content: center;
		width: 100%;
		padding-left: 10px;
	}

	.route-point {
		grid-template-columns: 1fr;
		padding: 2% 2% 0 3%;
	}

	.route-point {
		display: grid;
		justify-content: end;
		margin: 2% 0 2% -6.8%;
	}

	.route-point > div {
		padding-left: 5px;
		text-align: -webkit-center;
	}

	.button-route:first-child,
	.button-route:last-child {
		display: none;
	}

	.city label {
		position: relative;
	}

	.city label::before {
		content: url(../images/button-route-remove.png);
		left: -80px;
	}
	.city label::after {
		content: url(../images/button-route-add.png);
		right: -80px;
	}

	.city label::before,
	.city label::after {
		cursor: pointer;
		position: absolute;
		top: 24px;
	}

}

@media(max-width: 1600px) {
	.date-of-delivery .deliveryDates {
		text-align: -webkit-center;
	}

	.date-of-delivery .deliveryDates input {
		margin-top: 5px;
	}

	.deliveryDates .deliveryDatePlanFrom label {
		margin-right: 14px;
	}
}

@media (max-width: 1100px) {
}

@media (max-width:700px) {	
	.deliveryDates {
		display: grid;
	}

	.logged-in-user {
		justify-content: center;
	}

	.logged-in-user .logo {
		width: 100%;
		text-align: center;
		margin: 15px 0;
	}

	.route-add {
		margin: 15px 0;
	}
}

@media (max-width: 1827px) {
	.route-point {
		flex-wrap: wrap;
	}
}

.button-route button,
.route-add button {
	width: 30px;
	height: 30px;
}

.route-point div div,
.route-TC div div{
	margin-top: 5px;
}

.route-point .region {
	margin: 0 7% 0 6%;
}

.route-point .street {
	margin: 0 6% 0 2%;
}

.route-point .building {
	margin: 0 1% 0 0;
}

.route-point .building input {
	max-width: 40px;
}

.body-type .select-selected {
	margin-top: 4px;
}

.bidding {
	margin: 0 0 3% 0;
}

.bidding-title {
	width: 100%;
	text-align: center;
	margin: 25px 0 10px 0;
}

.bidding ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin: 10px 0;
}

.bidding ul li:nth-child(-n+3) {
	margin-right: 15px;
	align-items: center;
} 

.bidding ul li  input[type=radio] {
	padding-left: 0;
	-webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2.2px solid lightgray;
    border-radius: 50%;
    outline: none;
}

.bidding ul li input[type='radio']:before {
	padding-left: 0;
    content: '';
    display: block;
    width: 10px;
    height: 10.2px;
    margin: 2.7px auto;    
    border-radius:50%;    
}

.bidding ul li input[type='radio']:checked:before {
	background:#ca90d8;
}

.bidding ul li input[type='radio']:checked {
	border: 2.2px solid #ca90d8;
}

.create-claim {
	margin-left: 45%;
	width: 150px;
	padding: 10px;
}

/* Custom select */

.custom-select {
	font-size: 14px;
	position: relative;
	font-family: Arial;
	width: 210px;
	height: 30px;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 12px;
	right: 12px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
	top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	user-select: none;
	padding: 5px;
}


.select-selected {
	border: 1px solid #a09aa1;
	padding: 5px;
	height: 18px;
	border-radius: 5px;
}

.select-items {
	position: absolute;
	background-color: #ffffff;
	border-right: 1px solid rgba(0, 0, 0, 0.15); 
	border-left: 1px solid rgba(0, 0, 0, 0.15); 
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow:  -1px 19px 17px -11px rgba(0, 0, 0, .5);
}

.select-items div:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	
	border-radius: 0 0 5px 5px;
}

.select-hide {
	display: none;
}

.select-items div:hover {
	background-color: rgb(182, 119, 241);
	color: white;
}
/* Custom select */