body {
	background: linear-gradient(-120deg,#d79ce6,#eeecee);
	padding: 0;
	margin: 0;
}

h1,h2 {
	font-weight: 500;
}

h2.title {
	text-align: center;
	color: rgb(182, 119, 241);
	font-weight: 500;
}


input,
select {
	outline: none;
	padding-left: 5px;
	color: rgba(0, 0, 0, 0.5);
	width: 50px;
	border: 1px solid #a09aa1;
	border-radius: 5px;
}

input {
	padding-left: 0px;
	height: 26px;
	text-align: center;
	width: 39px;
}

input:focus {
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
	 			1px 1px 5px rgba(255, 255, 255, 1);
}

button {
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: rgb(182, 119, 241);
	color: white;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.body-content {
	margin: 30px auto;
	padding: 2% 3%;
	background: white;
	font-family: 'Roboto', sans-serif;
	width: 60%;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.menu .active {
	background: rgb(182, 119, 241);
	color: white;
}

.menu span {
	cursor: pointer;
	text-align: center;
	padding: 15px;
	color: rgb(185, 54, 218);
}

.logged-in-user {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 250px;
}

.logged-in-user span {
	cursor: pointer;
}

.logged-in-user .user-photo {
	border-radius: 30px;
}

.user-data {
	display: flex;
	align-items: center;
}

.user-data span:not(:last-child) {
	padding-right: 10px;
}

.user-name {
	color: rgb(185, 54, 218);
}

.form-settings {
	display: grid;
	grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
	justify-content: center;
	justify-items: center;
	color: rgba(0, 0, 0, 0.6);
}

.form-settings h4 {
	color: rgba(0, 0, 0, .7);
}

.form-settings > div {
	width: 400px;
}

.form-settings > div .save-button {
	display: block;
}

.form-settings > div > div > div.save-button {
	display: block;
}

.form-settings > div > div > div {
	display: grid;
	grid-template-columns: 1fr 60px;
	align-items: center;
	margin: 10px 0;
}

.form-settings div.periods > div {
	grid-template-columns: 1fr 186px;
}

div.periods > div > div {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}


@media (min-width: 600px) {
	.save-button button {
		width: auto;
		padding: 10px 20px;
	}
}

@media (max-width: 1400px) {
	.form-settings {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 1024px) and (max-width: 1500px) {
	.body-content {
		width: 80%;
	}

	.form-settings {
		grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
	}
}

@media (max-width: 800px) {
	.body-content {
		width: 92%;
	}

	.menu span {
		padding: 15px 10px;
	}
	
}

@media (max-width: 600px) {
	.logged-in-user {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.form-settings > div {
		width: 90%;
	}

	.form-settings > div > div > div {
		grid-template-columns: 1fr 41px;
	}
}

/* Custom select */
.custom-select {
	font-size: 14px;
	position: relative;
	font-family: Arial;
	width: 90px;
	height: 30px;
}

.custom-select select {
	display: none; 
}

.custom-select-day {
	width: 80px;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 12px;
	right: 12px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
	top: 7px;
}

.select-items div,.select-selected {
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	user-select: none;
	padding: 5px;
}


.select-selected {
	border: 1px solid #a09aa1;
	padding: 5px;
	height: 18px;
	border-radius: 5px;
}

.select-items {
	position: absolute;
	background-color: #ffffff;
	border-right: 1px solid rgba(0, 0, 0, 0.15); 
	border-left: 1px solid rgba(0, 0, 0, 0.15); 
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow:  -1px 19px 17px -11px rgba(0, 0, 0, .5);
}

.select-items div:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	
	border-radius: 0 0 5px 5px;
}

.select-hide {
	display: none;
}

.select-items div:hover {
	background-color: rgb(182, 119, 241);
	color: white;
}
/* Custom select */