body {
	background: linear-gradient(-120deg,#d79ce6,#eeecee);
	padding: 0;
	margin: 0;
}

h1,h2 {
	font-weight: 500;
}

h2.title {
	text-align: center;
	color: rgb(182, 119, 241);
	font-weight: 500;
}


input,
select {
	outline: none;
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.5);
	width: 50px;
	border: 1px solid #a09aa1;
	border-radius: 5px;
}

input {
	height: 26px;
	text-align: center;
}

input:focus {
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
	 			1px 1px 5px rgba(255, 255, 255, 1);
}

button {
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: rgb(182, 119, 241);
	color: white;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.body-content {
	margin: 30px auto;
	padding: 2% 3%;
	background: white;
	font-family: 'Roboto', sans-serif;
	width: 60%;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.menu .active {
	background: rgb(182, 119, 241);
	color: white;
}

.menu span {
	cursor: pointer;
	text-align: center;
	padding: 15px;
	color: rgb(185, 54, 218);
}

.logged-in-user {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 250px;
}

.logged-in-user span {
	cursor: pointer;
}

.logged-in-user .user-photo {
	border-radius: 30px;
}

.user-data {
	display: flex;
	align-items: center;
}

.user-data span:not(:last-child) {
	padding-right: 10px;
}

.user-name {
	color: rgb(185, 54, 218);
}

.form-settings {
	display: grid;
	grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
	justify-content: center;
	justify-items: center;
	color: rgba(0, 0, 0, 0.6);
}

.form-settings h4 {
	color: rgba(0, 0, 0, .7);
}

.form-settings > div {
	width: 400px;
}

.form-settings > div .save-button {
	display: block;
}

.form-settings > div > div > div.save-button {
	display: block;
}

.form-settings > div > div > div,
.form-settings div.periods > div {
	display: grid;
	grid-template-columns: 1fr 63px;
	align-items: center;
	margin: 10px 0;
}


@media (max-width: 1400px) {
	.form-settings {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 1024px) and (max-width: 1500px) {
	.body-content {
		width: 80%;
	}

	.form-settings {
		grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
	}
}

@media (max-width: 800px) {
	.body-content {
		width: 92%;
	}

	.menu span {
		padding: 15px 10px;
	}
	
}

@media (max-width: 600px) {
	.logged-in-user {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.form-settings > div {
		width: 80%;
	}
}


/* body {
	background: linear-gradient(-120deg,#d79ce6,#eeecee);
	padding: 0;
	margin: 0;
}

input,
select {
	outline: none;
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.5);
	width: 50px;
	border: 1px solid #a09aa1;
	border-radius: 5px;
}

input {
	height: 26px;
	text-align: center;
}

input:focus {
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
	 			1px 1px 5px rgba(255, 255, 255, 1);
}

select  {
	height: 30px;
}

button {
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: rgb(182, 119, 241);
	color: white;
	font-size: 16px;
	padding: 10px;
}

.body-content {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 60px;
	background: white;
	font-family: 'Roboto', sans-serif;
	width: 60%;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logged-in-user {
	display: flex;
	padding: 40px 10px 0 0;
	margin: 0 0 40px 0;
}

.logged-in-user .logo {
	flex-grow: 1;
	text-align: left;
}

.logged-in-user .user-photo {
	border-radius: 30px;
}

.logged-in-user span:nth-child(n+2) {
	margin: 30px 0 0 0;
}

.logged-in-user span:nth-child(3) {
	padding: 10px 5px 0 5px;
}

.logged-in-user span:nth-child(4) {
	margin-top: 37px;
}

.logged-in-user img {
	cursor: pointer;
}

.user-data img {
	padding: 10px 0 0 0;
}

.user-name {
	color: rgb(185, 54, 218);
}



h1,h2 {
	font-weight: 500;
}

h2 {
	text-align: center;
	color: rgb(182, 119, 241);
	font-weight: bold;
}

.table-title {
	width: 100%;
	margin-bottom: 1%;
}

.form-settings {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-items: center;
	align-items: stretch;
}

.form-settings table tr td:first-child {
	width: 280px;
	padding: 10px 0 10px 0;
}

.form-settings table tr td:last-child {
	text-align: right;
}


.periods, 
.tender,
.auction,
.rating {
	padding: 10px 93px;
}

.tender,
.auction,
.rating {
	margin: 0 0 15px 0; 
}
 */

 
