

body {
	background: linear-gradient(-120deg,#d79ce6,#eeecee);
	padding: 0;
	margin: 0;
}

h1,h2 {
	font-weight: 500;
}

h2.title {
	text-align: center;
	color: rgb(182, 119, 241);
	font-weight: 500;
}

.body-content {
	margin: 30px auto;
	padding: 2% 3%;
	background: white;
	font-family: 'Roboto', sans-serif;
	width: 60%;
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.menu span {
	cursor: pointer;
	text-align: center;
	padding: 15px;
	color: rgb(185, 54, 218);
}

.logged-in-user {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 250px;
}

.logged-in-user span {
	cursor: pointer;
}

.logged-in-user .user-photo {
	border-radius: 30px;
}

.user-data {
	display: flex;
	align-items: center;
}

.user-data span:not(:last-child) {
	padding-right: 10px;
}

.user-name {
	color: rgb(185, 54, 218);
}


.task-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	color: rgba(0, 0, 0, .7);
}

.task-details-delivery,
.task-details-TC-hictory {
	width: 100%;
}

.task-details-delivery > div span,
.task-details-TC-hictory > div span,
table tbody {
	color: rgba(0, 0, 0, 0.5);
}

table {
	border-spacing: 0;
}

table caption {
	font-size: 21px;
	font-weight: 500;
	margin-bottom: 2%;
}

table thead  th {
	text-align: left;
	font-weight: 400;
	font-size: 18px;
	padding: 0px;
}

table thead th:not(:last-child) {
	padding-right: 10px;
}

table tbody tr td {
	vertical-align: baseline;
	padding: 20px 0;
}

table tbody tr:nth-child(odd) {
	background: rgba(185, 54, 218, .05);
}

.route ul li {
	list-style-type: none;
	position: relative;
	margin-bottom: 15px;
	color: rgba(0, 0, 0, 0.5);
}

.route ul li::before {
	position: absolute;
	left: -15px;
	top: -12px;
	color: rgb(185, 54, 218);
	content: "\2022";
	font-size: 26px;
	padding: 5px 10px 0 0;
}

.info > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding-bottom: 10px;
}

.info .TC-characteristic {
	display: block;
}

@media (min-width: 800px) and (max-width: 1150px) {
	.body-content {
		width: 90%;
	}
}

@media (max-width: 800px) {
	.body-content {
		width: 92%;
	}

	.menu span {
		padding: 15px 10px;
	}

	.task-details {
		grid-template-columns: 1fr;
	}

	.task-details-delivery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 15px;
	}

	.auction-history {
		display: grid;
		justify-items: center;
	}

	table tbody tr td {
		padding: 10px 0;
	}
}

@media (max-width: 600px) {
	.logged-in-user {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.task-details-delivery {
		grid-template-columns: 1fr;
	}
}